<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://calculator-fn.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a6132a61-99a9-445e-89ad-42fe6001a492/resourceGroups/Calculator/providers/Microsoft.Web/sites/calculator-fn</ResourceId>
    <UserName>$calculator-fn</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://calculator-fn.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>